/*alinhamentos de texto*/

.texto-centro {
    text-align: center;
}

.texto-esquerdo {
    text-align: left;
}

.texto-direito {
    text-align: right;
}

.texto-justificado {
    text-align: justify;
}