$fonte: "Segoe UI",
Arial,
Helvetica;
$tamanho-fonte: 16px;
$altura-linha: 1.4em;
$margem: 0px;
$padding: 0px;
$box: border-box;
$padding-input: 5px 10px;
$padding-botoes: 5px 20px;

/*default itens*/

* {
    margin: $margem;
    padding: $padding;
    box-sizing: $box;
}

body {
    font-family: $fonte;
    font-size: $tamanho-fonte;
}


/*widths*/

@for $i from 1 through 10 {
    .width-#{$i}0 {
        width: $i * 10 * 1%
    }
}


/*heights*/

@for $i from 1 through 10 {
    .height-#{$i}0 {
        height: $i * 10 * 1%
    }
}

.clear::after,
.clear::before {
    content: ' ';
    display: table;
    clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

a {
    text-decoration: none;
}

.click {
    cursor: pointer;
}

.underline {
    text-decoration: underline;
}

@mixin transition() {
    transition: all 350ms;
}

.display-block {
    display: block;
}

.display-inline {
    display: inline;
}

.display-table {
    display: table
}

.display-inline-block {
    display: inline-block;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

abbr {
    text-decoration: underline;
    text-decoration-style: dotted;
    cursor: help;
}