$fonte: "Segoe UI",
Arial,
Helvetica;
$tamanho-fonte: 16px;
$altura-linha: 1.4em;
$margem: 0px;
$padding: 0px;
$box: border-box;
$padding-input: 5px 10px;
$padding-botoes: 5px 20px;
$red: #d9534f;
$blue: #0275d8;
$green: #5cb85c;
$yellow: #ff0;
$black: #000;
$white: #fff;
$orange: #f39c12;
$purple: #9b59b6;
$turquoise: #1abc9c;
$asfalt: #34495e;
$gray: #ccc;
$cyan: #5bc0de;
$letter-color:#000;
$button-color: #ccc;
$button-letter-color: #999;

/*grayscale*/

@for $i from 1 through 9 {
    .gray-#{$i}0 {
        color: darken($white, $i*10);
    }
}


/* grayscale background*/

@for $i from 1 through 9 {
    .b-gray-#{$i}0 {
        background-color: darken($white, $i*10);
    }
}


/*colors generator*/

@mixin color($cor, $tipo, $importancia:"", $percentual:10%) {
    @include transition();
    @if $tipo=="e" {
        color: darken($cor, $percentual) #{$importancia};
    }
    @else if $tipo=="n" {
        color: $cor #{$importancia};
    }
    @else {
        color: lighten($cor, $percentual) #{$importancia};
    }
}


/*backgrounds generator*/

@mixin bcolor($cor, $tipo, $percentual:10%, $importancia:"") {
    @if $tipo=="e" {
        background-color: darken($cor, $percentual) #{$importancia};
    }
    @else if $tipo=="n" {
        background-color: $cor #{$importancia};
    }
    @else {
        background-color: lighten($cor, $percentual) #{$importancia};
    }
}


/*background with hover generator*/

@mixin bcolorh($cor, $tipo, $percentual:10%, $importancia:"") {
    @include transition();
    @if $tipo=="e" {
        background-color: darken($cor, $percentual) #{$importancia};
    }
    @else if $tipo=="n" {
        background-color: $cor #{$importancia};
    }
    @else {
        background-color: lighten($cor, $percentual) #{$importancia};
    }
    border-color: $cor
}


/*border-colorr*/

@mixin bordercolor($cor, $tipo, $importancia:"") {
    @include transition();
    @if $tipo=="e" {
        border-color: darken($cor, 10%) #{$importancia};
    }
    @else if $tipo=="n" {
        border-color: $cor #{$importancia};
    }
    @else {
        border-color: lighten($cor, 10%) #{$importancia};
    }
}


/*default itens*/

* {
    margin: $margem;
    padding: $padding;
    box-sizing: $box;
}

body {
    font-family: $fonte;
    font-size: $tamanho-fonte;
}


/*widths*/

@for $i from 1 through 10 {
    .width-#{$i}0 {
        width: $i * 10 * 1%
    }
}


/*heights*/

@for $i from 1 through 10 {
    .height-#{$i}0 {
        height: $i * 10 * 1%
    }
}

.clear::after,
.clear::before {
    content: ' ';
    display: table;
    clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

a {
    text-decoration: none;
}

.click {
    cursor: pointer;
}

.underline {
    text-decoration: underline;
}

@mixin transition() {
    transition: all 350ms;
}

.display-block {
    display: block;
}

.display-inline {
    display: inline;
}

.display-table {
    display: table
}

.display-inline-block {
    display: inline-block;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

abbr {
    text-decoration: underline;
    text-decoration-style: dotted;
    cursor: help;
}