/*bordas arredondadas*/

@for $i from 1 through 20 {
    .bordar-#{$i} {
        border-radius: $i+px;
        -webkit-border-radius: $i+px;
        -moz-border-radius: $i+px;
    }
}


/*bordas */

@for $i from 1 through 10 {
    .borda-#{$i} {
        border: solid $i+px;
    }
}


/*cores de borda*/

.borda-preto {
    border-color: $preto !important;
}

.borda-branco {
    border-color: $branco !important;
}

.borda-vermelho {
    @include bordacor($vermelho, "n", "!important");
}

.borda-azul {
    @include bordacor($azul, "n", "!important");
}

.borda-verde {
    @include bordacor($verde, "n", "!important");
}

.borda-amarelo {
    @include bordacor($amarelo, "n", "!important");
}

.borda-laranja {
    @include bordacor($laranja, "n", "!important");
}

.borda-roxo {
    @include bordacor($roxo, "n", "!important");
}

.borda-turquesa {
    @include bordacor($turquesa, "n", "!important");
}

.borda-asfalto {
    @include bordacor($asfalto, "n", "!important");
}

.borda-ciano {
    @include bordacor($ciano, "n", "!important");
}

.borda-vermelho-claro {
    @include bordacor($vermelho, "c", "!important");
}

.borda-azul-claro {
    @include bordacor($azul, "c", "!important");
}

.borda-verde-claro {
    @include bordacor($verde, "c", "!important");
}

.borda-amarelo-claro {
    @include bordacor($amarelo, "c", "!important");
}

.borda-laranja-claro {
    @include bordacor($laranja, "c", "!important");
}

.borda-roxo-claro {
    @include bordacor($roxo, "c", "!important");
}

.borda-turquesa-claro {
    @include bordacor($turquesa, "c", "!important");
}

.borda-asfalto-claro {
    @include bordacor($asfalto, "c", "!important");
}

.borda-ciano-claro {
    @include bordacor($ciano, "c", "!important");
}

.borda-vermelho-escuro {
    @include bordacor($vermelho, "e", "!important");
}

.borda-azul-escuro {
    @include bordacor($azul, "e", "!important");
}

.borda-verde-escuro {
    @include bordacor($verde, "e", "!important");
}

.borda-amarelo-escuro {
    @include bordacor($amarelo, "e", "!important");
}

.borda-laranja-escuro {
    @include bordacor($laranja, "e", "!important");
}

.borda-roxo-escuro {
    @include bordacor($roxo, "e", "!important");
}

.borda-turquesa-escuro {
    @include bordacor($turquesa, "e", "!important");
}

.borda-asfalto-escuro {
    @include bordacor($asfalto, "e", "!important");
}

.borda-ciano-escuro {
    @include bordacor($ciano, "e", "!important");
}