/*tamanhos diferentes de botoes*/

@mixin button-size($size) {
    @if $size=="big" {
        .btn-big {
            font-size: 2rem;
            padding: 10px 20px 10px 20px;
            border: solid 1px;
            cursor: pointer;
        }
    }
    @else if $size=="mid" {
        .btn-mid {
            font-size: 1.5rem;
            padding: 5px 10px 5px 10px;
            border: solid 1px;
            cursor: pointer;
        }
    }
    @else {
        .btn-small {
            font-size: 0.7rem;
            padding: 2px 4px 2px 4px;
            border: solid 1px;
            cursor: pointer;
        }
    }
}

.btn {
    display: block;
    width: auto;
    font-family: $fonte;
    text-decoration: none;
    cursor: pointer;
}

@include button-size("big");
@include button-size("mid");
@include button-size("small");

/*botoes nomeados*/

.btn-primary {
    @include bcolor($blue, "n", 10%, "!important");
    @include color($white, "n", "!important");
    cursor: pointer;
    padding: $padding-botoes;
    border: solid 1px $blue;
    &:hover {
        @include bcolor($blue, "e", 10%, "!important");
    }
    &:disabled {
        @include bcolor($blue, "c", 10%, "!important");
        cursor: not-allowed;
    }
}

.btn-secondary {
    @include bcolor($white, "n", 10%, "!important");
    @include color($black, "n", "!important");
    cursor: pointer;
    padding: $padding-botoes;
    border: solid 1px $black;
    &:hover {
        @include bcolor($gray, "n", 10%, "!important");
    }
    &:disabled {
        @include bcolor($gray, "c", 10%, "!important");
        cursor: not-allowed;
    }
}

.btn-ok {
    @include bcolor($green, "n", 10%, "!important");
    @include color($white, "n", "!important");
    cursor: pointer;
    padding: $padding-botoes;
    border: solid 1px $green;
    &:hover {
        @include bcolor($green, "e", 10%, "!important");
    }
    &:disabled {
        @include bcolor($green, "c", 10%, "!important");
        cursor: not-allowed;
    }
}

.btn-cancel {
    @include bcolor($red, "n", 10%, "!important");
    @include color($white, "n", "!important");
    cursor: pointer;
    padding: $padding-botoes;
    border: solid 1px $red;
    &:hover {
        @include bcolor($red, "e", 10%, "!important");
    }
    &:disabled {
        @include bcolor($red, "c", 10%, "!important");
        cursor: not-allowed;
    }
}

.btn-information {
    @include bcolor($cyan, "n", 10%, "!important");
    @include color($white, "n", "!important");
    cursor: pointer;
    padding: $padding-botoes;
    border: solid 1px $cyan;
    &:hover {
        @include bcolor($cyan, "e", 10%, "!important");
    }
    &:disabled {
        @include bcolor($cyan, "c", 10%, "!important");
        cursor: not-allowed;
    }
}

.btn-danger {
    @include bcolor($orange, "n", 10%, "!important");
    @include color($white, "n", "!important");
    cursor: pointer;
    padding: $padding-botoes;
    border: solid 1px $orange;
    &:hover {
        @include bcolor($orange, "e", 10%, "!important");
    }
    &:disabled {
        @include bcolor($orange, "c", 10%, "!important");
        cursor: not-allowed;
    }
}


/*botao em bloco 100%*/

.btn-block {
    display: block;
    width: 100%;
    cursor: pointer;
}

.btn-yes-no {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 5px;
    &>a {
        padding: 5px 20px;
        cursor: pointer
    }
    & :first-child {
        border-radius: 3px 0px 0px 3px;
    }
    & :last-child {
        border-radius: 0px 3px 3px 0px;
    }
    &>span {
        position: absolute;
        background-color: $white;
        border-radius: 50%;
        padding: 3px;
        font-size: 0.6em;
        font-weight: bold;
        left: 40%;
        top: 21%;
    }
}