$vermelho: #d9534f;
$azul: #0275d8;
$verde: #5cb85c;
$amarelo: #ff0;
$preto: #000;
$branco: #fff;
$laranja: #f39c12;
$roxo: #9b59b6;
$turquesa: #1abc9c;
$asfalto: #34495e;
$cinza: #ccc;
$ciano: #5bc0de;
$cor-da-letra:#000;
$cor-botao: #ccc;
$cor-letra-botao: #999;

/*escala de cinzas*/

@for $i from 1 through 9 {
    .cinza-#{$i}0 {
        color: darken($branco, $i*10);
    }
}


/*escala de fundo de cinzas*/

@for $i from 1 through 9 {
    .fundo-cinza-#{$i}0 {
        background-color: darken($branco, $i*10);
    }
}


/*escala de fundo de cinzas*/

@for $i from 1 through 9 {
    .borda-cinza-#{$i}0 {
        border-color: darken($branco, $i*10) !important;
    }
}


/*cor para as letras*/

@mixin cor($cor, $tipo, $importancia:"", $percentual:10%) {
    @include transicao();
    @if $tipo=="e" {
        color: darken($cor, $percentual) #{$importancia};
    }
    @else if $tipo=="n" {
        color: $cor #{$importancia};
    }
    @else {
        color: lighten($cor, $percentual) #{$importancia};
    }
}


/*cor de fundo*/

@mixin bcor($cor, $tipo, $percentual:10%) {
    @if $tipo=="e" {
        background-color: darken($cor, $percentual);
    }
    @else if $tipo=="n" {
        background-color: $cor;
    }
    @else {
        background-color: lighten($cor, $percentual);
    }
}


/*cor de fundo com borda no hover*/

@mixin bcorh($cor, $tipo, $percentual:10%, $importancia:"") {
    @include transicao();
    @if $tipo=="e" {
        background-color: darken($cor, $percentual) #{$importancia};
    }
    @else if $tipo=="n" {
        background-color: $cor #{$importancia};
    }
    @else {
        background-color: lighten($cor, $percentual) #{$importancia};
    }
    border-color: $cor
}


/*cor de fundo com borda no hover*/

@mixin bordacor($cor, $tipo, $importancia:"") {
    @include transicao();
    @if $tipo=="e" {
        border-color: darken($cor, 10%) #{$importancia};
    }
    @else if $tipo=="n" {
        border-color: $cor #{$importancia};
    }
    @else {
        border-color: lighten($cor, 10%) #{$importancia};
    }
}


/*cor das letras*/

.preto {
    color: $preto;
}

.branco {
    color: $branco;
}


/*cores padrão de texto*/

.vermelho {
    @include cor($vermelho, "n");
}

.azul {
    @include cor($azul, "n");
}

.verde {
    @include cor($verde, "n");
}

.amarelo {
    @include cor($amarelo, "n");
}

.laranja {
    @include cor($laranja, "n");
}

.roxo {
    @include cor($roxo, "n");
}

.turquesa {
    @include cor($turquesa, "n");
}

.asfalto {
    @include cor($asfalto, "n");
}

.ciano {
    @include cor($ciano, "n");
}

.vermelho-claro {
    @include cor($vermelho, "c");
}

.azul-claro {
    @include cor($azul, "c");
}

.verde-claro {
    @include cor($verde, "c");
}

.amarelo-claro {
    @include cor($amarelo, "c");
}

.laranja-claro {
    @include cor($laranja, "c");
}

.roxo-claro {
    @include cor($roxo, "c");
}

.turquesa-claro {
    @include cor($turquesa, "c");
}

.asfalto-claro {
    @include cor($asfalto, "c");
}

.ciano-claro {
    @include cor($ciano, "c");
}

.vermelho-escuro {
    @include cor($vermelho, "e");
}

.azul-escuro {
    @include cor($azul, "e");
}

.verde-escuro {
    @include cor($verde, "e");
}

.amarelo-escuro {
    @include cor($amarelo, "e");
}

.laranja-escuro {
    @include cor($laranja, "e");
}

.roxo-escuro {
    @include cor($roxo, "e");
}

.turquesa-escuro {
    @include cor($turquesa, "e");
}

.asfalto-escuro {
    @include cor($asfalto, "e");
}

.ciano-escuro {
    @include cor($ciano, "e");
}


/*cor das letras com hover*/

.pretoh {
    color: $preto;
    &:hover {
        @include cor($vermelho, "c");
    }
}

.brancoh {
    color: $branco;
    &:hover {
        @include cor($branco, "e");
    }
}


/*cores padrão de texto*/

.vermelhoh {
    @include cor($vermelho, "n");
    &:hover {
        @include cor($vermelho, "e");
    }
}

.azulh {
    @include cor($azul, "n");
    &:hover {
        @include cor($azul, "e");
    }
}

.verdeh {
    @include cor($verde, "n");
    &:hover {
        @include cor($verde, "e");
    }
}

.amareloh {
    @include cor($amarelo, "n");
    &:hover {
        @include cor($amarelo, "e");
    }
}

.laranjah {
    @include cor($laranja, "n");
    &:hover {
        @include cor($laranja, "e");
    }
}

.roxoh {
    @include cor($roxo, "n");
    &:hover {
        @include cor($roxo, "e");
    }
}

.turquesah {
    @include cor($turquesa, "n");
}

.asfalto {
    @include cor($turquesa, "n");
    &:hover {
        @include cor($asfalto, "e");
    }
}

.cianoh {
    @include cor($ciano, "n");
    &:hover {
        @include cor($ciano, "e");
    }
}

.vermelho-claroh {
    @include cor($vermelho, "c");
    &:hover {
        @include cor($vermelho, "n");
    }
}

.azul-claroh {
    @include cor($azul, "c");
    &:hover {
        @include cor($azul, "n");
    }
}

.verde-claroh {
    @include cor($verde, "c");
    &:hover {
        @include cor($verde, "n");
    }
}

.amarelo-claroh {
    @include cor($amarelo, "c");
    &:hover {
        @include cor($amarelo, "n");
    }
}

.laranja-claroh {
    @include cor($laranja, "c");
    &:hover {
        @include cor($laranja, "n");
    }
}

.roxo-claroh {
    @include cor($roxo, "c");
    &:hover {
        @include cor($roxo, "n");
    }
}

.turquesa-claroh {
    @include cor($turquesa, "c");
    &:hover {
        @include cor($turquesa, "n");
    }
}

.asfalto-claroh {
    @include cor($asfalto, "c");
    &:hover {
        @include cor($asfalto, "n");
    }
}

.ciano-claroh {
    @include cor($ciano, "c");
    &:hover {
        @include cor($ciano, "n");
    }
}

.vermelho-escuroh {
    @include cor($vermelho, "e");
    &:hover {
        @include cor($vermelho, "n");
    }
}

.azul-escuroh {
    @include cor($azul, "e");
    &:hover {
        @include cor($azul, "n");
    }
}

.verde-escuroh {
    @include cor($verde, "e");
    &:hover {
        @include cor($verde, "n");
    }
}

.amarelo-escuroh {
    @include cor($amarelo, "e");
    &:hover {
        @include cor($amarelo, "n");
    }
}

.laranja-escuroh {
    @include cor($laranja, "e");
    &:hover {
        @include cor($laranja, "n");
    }
}

.roxo-escuroh {
    @include cor($roxo, "e");
    &:hover {
        @include cor($roxo, "n");
    }
}

.turquesa-escuroh {
    @include cor($turquesa, "e");
    &:hover {
        @include cor($turquesa, "n");
    }
}

.asfalto-escuroh {
    @include cor($asfalto, "e");
    &:hover {
        @include cor($asfalto, "n");
    }
}

.ciano-escuroh {
    @include cor($ciano, "e");
    &:hover {
        @include cor($ciano, "n");
    }
}


/*cores de fundo*/

.fundo-preto {
    background-color: $preto;
}

.fundo-branco {
    background-color: $branco;
}

.fundo-vermelho {
    @include bcor($vermelho, "n");
}

.fundo-azul {
    @include bcor($azul, "n");
}

.fundo-verde {
    @include bcor($verde, "n");
}

.fundo-amarelo {
    @include bcor($amarelo, "n");
}

.fundo-laranja {
    @include bcor($laranja, "n");
}

.fundo-roxo {
    @include bcor($roxo, "n");
}

.fundo-turquesa {
    @include bcor($turquesa, "n");
}

.fundo-asfalto {
    @include bcor($asfalto, "n");
}

.fundo-ciano {
    @include bcor($ciano, "n");
}

.fundo-vermelho-claro {
    @include bcor($vermelho, "c");
}

.fundo-azul-claro {
    @include bcor($azul, "c");
}

.fundo-verde-claro {
    @include bcor($verde, "c");
}

.fundo-amarelo-claro {
    @include bcor($amarelo, "c");
}

.fundo-laranja-claro {
    @include bcor($laranja, "c");
}

.fundo-roxo-claro {
    @include bcor($roxo, "c");
}

.fundo-turquesa-claro {
    @include bcor($turquesa, "c");
}

.fundo-asfalto-claro {
    @include bcor($asfalto, "c");
}

.fundo-ciano-claro {
    @include bcor($ciano, "c");
}

.fundo-vermelho-escuro {
    @include bcor($vermelho, "e");
}

.fundo-azul-escuro {
    @include bcor($azul, "e");
}

.fundo-verde-escuro {
    @include bcor($verde, "e");
}

.fundo-amarelo-escuro {
    @include bcor($amarelo, "e");
}

.fundo-laranja-escuro {
    @include bcor($laranja, "e");
}

.fundo-roxo-escuro {
    @include bcor($roxo, "e");
}

.fundo-turquesa-escuro {
    @include bcor($turquesa, "e");
}

.fundo-asfalto-escuro {
    @include bcor($asfalto, "e");
}

.fundo-ciano-escuro {
    @include bcor($ciano, "e");
}


/*cor de fundo com hover*/


/*cores de fundo*/

.pretoh {
    color: lighten($preto, 50%);
}

.brancoh {
    color: darken($branco, 50%);
}

.fundo-pretoh {
    @include bcor($preto, "n");
    &:hover {
        @include bcor($preto, "c");
    }
}

.fundo-vermelhoh {
    @include bcor($vermelho, "n");
    &:hover {
        @include bcor($vermelho, "e");
    }
}

.fundo-azulh {
    @include bcor($azul, "n");
    &:hover {
        @include bcor($azul, "c");
    }
}

.fundo-verdeh {
    @include bcor($verde, "n");
    &:hover {
        @include bcor($verde, "c");
    }
}

.fundo-amareloh {
    @include bcor($amarelo, "n");
    &:hover {
        @include bcor($amarelo, "e");
    }
}

.fundo-laranjah {
    @include bcor($laranja, "n");
    &:hover {
        @include bcor($laranja, "c");
    }
}

.fundo-roxoh {
    @include bcor($roxo, "n");
    &:hover {
        @include bcor($roxo, "c");
    }
}

.fundo-turquesah {
    @include bcor($turquesa, "n");
    &:hover {
        @include bcor($turquesa, "c");
    }
}

.fundo-asfaltoh {
    @include bcor($asfalto, "n");
    &:hover {
        @include bcor($asfalto, "c");
    }
}

.fundo-cianoh {
    @include bcor($ciano, "n");
    &:hover {
        @include bcor($ciano, "c");
    }
}

.fundo-vermelho-claroh {
    @include bcor($vermelho, "c");
    &:hover {
        @include bcor($vermelho, "e");
    }
}

.fundo-azul-claroh {
    @include bcor($azul, "c");
    &:hover {
        @include bcor($azul, "e");
    }
}

.fundo-verde-claroh {
    @include bcor($verde, "c");
    &:hover {
        @include bcor($verde, "e");
    }
}

.fundo-amarelo-claroh {
    @include bcor($amarelo, "c");
    &:hover {
        @include bcor($amarelo, "e");
    }
}

.fundo-laranja-claroh {
    @include bcor($laranja, "c");
    &:hover {
        @include bcor($laranja, "e");
    }
}

.fundo-roxo-claroh {
    @include bcor($roxo, "c");
    &:hover {
        @include bcor($roxo, "e");
    }
}

.fundo-turquesa-claroh {
    @include bcor($turquesa, "c");
    &:hover {
        @include bcor($turquesa, "e");
    }
}

.fundo-asfalto-claroh {
    @include bcor($asfalto, "c");
    &:hover {
        @include bcor($asfalto, "e");
    }
}

.fundo-ciano-claroh {
    @include bcor($ciano, "c");
    &:hover {
        @include bcor($ciano, "e");
    }
}

.fundo-vermelho-escuroh {
    @include bcor($vermelho, "e");
    &:hover {
        @include bcor($vermelho, "c");
    }
}

.fundo-azul-escuroh {
    @include bcor($azul, "e");
    &:hover {
        @include bcor($azul, "c");
    }
}

.fundo-verde-escuroh {
    @include bcor($verde, "e");
    &:hover {
        @include bcor($verde, "c");
    }
}

.fundo-amarelo-escuroh {
    @include bcor($amarelo, "e");
    &:hover {
        @include bcor($amarelo, "c");
    }
}

.fundo-laranja-escuroh {
    @include bcor($laranja, "e");
    &:hover {
        @include bcor($laranja, "c");
    }
}

.fundo-roxo-escuroh {
    @include bcor($roxo, "e");
    &:hover {
        @include bcor($roxo, "c");
    }
}

.fundo-turquesa-escuroh {
    @include bcor($turquesa, "e");
    &:hover {
        @include bcor($turquesa, "c");
    }
}

.fundo-asfalto-escuroh {
    @include bcor($asfalto, "e");
    &:hover {
        @include bcor($asfalto, "c");
    }
}

.fundo-ciano-escuroh {
    @include bcor($ciano, "e");
    &:hover {
        @include bcor($ciano, "c");
    }
}


/*cores padrão para uso generico*/

.ok {
    @include bcor($verde, "c", 25%);
    @include cor($verde, "e", "", 20);
    border: solid darken($verde, 35%);
}

.cancelar {
    @include bcor($vermelho, "c", 25%);
    @include cor($vermelho, "e", "", 20);
    border: solid darken($vermelho, 35%);
}

.informacao {
    @include bcor($ciano, "c", 25%);
    @include cor($ciano, "e", "");
    border: solid darken($ciano, 15%);
}

.cuidado {
    @include bcor($laranja, "c", 40%);
    @include cor($laranja, "e", "");
    border: solid darken($laranja, 35%);
}