$width-container: 1400;
$cols: 18;
%overflow {
    overflow: hidden;
}


/*container width*/

.container {
    width: 100%;
    display: block;
    margin: auto;
}


/*row container*/

.row-container {
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
}


/* container with no wrap*/

.container-nowrap {
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
}


/*align of grid row*/

.row-center {
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
}


/*left row*/

.row-left {
    align-items: left;
    -webkit-align-items: left;
    -moz-align-items: left;
    justify-content: left;
    -webkit-justify-content: left;
    -moz-justify-content: left;
}


/*right row*/

.row-right {
    align-items: right;
    -webkit-align-items: right;
    -moz-align-items: right;
    justify-content: right;
    -webkit-justify-content: right;
    -moz-justify-content: right;
    -webkit-flex-direction: row-reverse;
    -moz-flex-direction: row-reverse;
    flex-direction: row-reverse;
}


/*stretched row*/

.stretch {
    align-items: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
}


/*row*/

.row {
    max-width: $width-container+px;
    margin: auto;
    overflow: hidden;
}


/*remove overflow*/

.no-overflow {
    overflow: visible !important;
}


/* mixin for widths*/

@mixin widths($width-container, $prefix:"") {
    @for $i from 1 through $cols {
        $largura: $width-container / $cols * $i;
        .col#{$prefix}-#{$i} {
            width: 100 / $cols * $i * 1%;
            max-width: $largura+px;
        }
    }
}

@include widths($width-container);

/*grid*/

@mixin normal($width-container) {
    $multiplicador: 1.3;
    body {
        font-size: $tamanho-fonte * $multiplicador
    }
    .hidden {
        display: none !important
    }
}


/*pc grid*/

@mixin pc($width-container) {
    $multiplicador: 1.2;
    @include widths($width-container, "-pc");
    body {
        font-size: $tamanho-fonte * $multiplicador
    }
    .hidden-pc {
        display: none !important
    }
}


/*tablet grid*/

@mixin tablet($width-container) {
    $multiplicador: 1.1;
    @include widths($width-container, "-tablet");
    body {
        font-size: $tamanho-fonte * $multiplicador
    }
    .hidden-tablet {
        display: none !important
    }
}


/*mobile grid*/

@mixin mobile($width-container) {
    $multiplicador: 1;
    @include widths($width-container, "-celular");
    body {
        font-size: $tamanho-fonte * $multiplicador;
    }
    .hidden-mobile {
        display: none !important
    }
}