/*size of margin*/

@for $i from 0 through 20 {
    .margin-#{$i} {
        margin: $i+px;
    }
}


/*size of margin top*/

@for $i from 0 through 20 {
    .margin-top-#{$i} {
        margin-top: $i+px;
    }
}


/*size of margin top*/

@for $i from 0 through 20 {
    .margin-bottom-#{$i} {
        margin-bottom: $i+px;
    }
}


/*size of margin left*/

@for $i from 0 through 20 {
    .margin-left-#{$i} {
        margin-left: $i+px;
    }
}


/*size of margin right*/

@for $i from 0 through 20 {
    .margin-right-#{$i} {
        margin-right: $i+px;
    }
}